{% load static from staticfiles %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Abby's Site</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href={% static '/home/assets/css/main.css' %} />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">Abby's Site</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="elements">Elements</a></li>
					<li><a href="generic">Generic</a></li>
					<li><a href="about">About Me</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Welcome to the homepage</h1>
					<p>This is abby's personal blog<br /></p>
				</div>
				<video autoplay loop muted playsinline src={% static '/home/images/banner.mp4' %}></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Here are some file Links</h2>
						<p>In these links you can find references to various documents and projects</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="about" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>About Me</h3>
								</header>
								<p>This is a page about me</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="https://github.com/abbylacy-2019" class="icon fa-github"><span class="label">Icon</span></a>
									<h3>Projects</h3>
								</header>
								<p>This is where I store various projects. This site is included in the github.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>Saved files</h3>
								</header>
								<p>Here is a link to some additional files</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Statistics</h3>
								</header>
								<p>Link to various stats</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="mailto:abbylacy_2019@depauw.edu?Subject=Hello" target="_top" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Email</h3>
								</header>
								<p>Click this link to email me!</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="elements" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>Elements</h3>
								</header>
								<p>Here is a template elements page with some sample text woo!</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Section title</h2>
					<p>Here is some sample text to go into the section title. ...</p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Testimonials</h2>
						<p>Here are some testimonials about this site and me.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>This site is okay I guess. It needs work and content</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src={% static '/home/images/pic01.jpg' %} alt="" />
									</div>
									<p class="credit">- <strong>Jane Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>"She's alright I guess"</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src={% static '/home/images/pic03.jpg' %} alt="" />
									</div>
									<p class="credit">- <strong>John Doe</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>"Meh"</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src={% static '/home/images/pic02.jpg' %} alt="" />
									</div>
									<p class="credit">- <strong>Janet Smith</strong> <span>CEO - ABC Inc.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>About this site</h3>
							<p>Here is some information about this website and it's creation. blah blah...</p>
						</section>
						<section>
							<h4>A list of stuff</h4>
							<ul class="alt">
								<li><a href="#">First thing in the list.</a></li>
								<li><a href="#">Second thing in the list.</a></li>
								<li><a href="#">Third thing in the list.</a></li>
								<li><a href="#">Fourth thing in the list.</a></li>
							</ul>
						</section>
						<section>
							<h4>Social Media Links</h4>
							<ul class="plain">
								<li><a href="mailto:abbylacy_2019@depauw.edu?Subject=Hello" target="_top"><i class="icon fa-envelope-o">&nbsp;</i>Email</a></li>
								<li><a href="https://github.com/abbylacy-2019"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src={% static "/home/assets/js/jquery.min.js" %}></script>
			<script src={% static "/home/assets/js/browser.min.js" %}></script>
			<script src={% static "/home/assets/js/breakpoints.min.js" %}></script>
			<script src={% static "/home/assets/js/util.js" %}></script>
			<script src={% static "/home/assets/js/main.js" %}></script>

	</body>
</html>
